Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [60]:
monthly_expense=[2200,2350,2600,2130,2190]
print('In feb dollars spent extra compare to January:', monthly_expense[1]-monthly_expense[0])

In feb dollars spent extra compare to January: 150

In [62]:
print('total expense in first quarter of the year:',monthly_expense[0]+monthly_expense[1]+monthly_expense[2])

total expense in first quarter of the year: 7150

In [64]:
print('did i spent extra $2000 in any month?', 2000 in monthly_expense)

did i spent extra $2000 in any month? False

In [69]:
print('june month just finished,so i expense is $1980,my new list is:',monthly_expense.append(1980))
monthly_expense

june month just finished,so i expense is $1980,my new list is: None

[2200, 2350, 2600, 2130, 2190, 1980, 1980, 1980, 1980]

In [70]:
print('i return an item in april month, so i refund $200:',monthly_expense[3]-200)

i return an item in april month, so i refund $200: 1930